// Your custom styles

.peach-gradient {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
}

.accordion-6 {
    .card {
      background-color: transparent;
      .card-header {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        
        transition: .3s;
        &:hover {
          background-image: linear-gradient(to top,  #330867 0%,#30cfd0 100%);
          transition: .3s;
        }
        .fas,
        .fab,
        .far {
          background-color: #fff;
          border-top-left-radius: 3px;
        }
      }
      .card-body {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }

  .btn-rws {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
  }

  .badge-rws, .note-rws{
      color:#fff !important;
      background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) !important;
      a {
          color: #fff !important;
      }
    }

    .note-rws {
        border-color: #353d3e !important;
    }

    .badge-rws {
        border-bottom: 3px solid #fff;
        padding: 10px;
    }

    .note-rws-white {
        color:#444444 !important;
      background-color:#fff !important;
      border-top: 1px solid #353d3e;
      border-right: 1px solid #353d3e;
      border-bottom: 1px solid #353d3e;
      a {
          color: #3f51b5 !important;
      }
    }

    .note-rws-white {
        border-color: #041b7b !important;
    }

    .rws-button-startpage {
      display: block !important;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .btn-outline-rws-color {
      color: #3f51b5!important;
      border: 2px solid #3f51b5 !important; 
    }

    $banking-primary-color: rgb(51, 8, 103);
    .bank-text{
       color: #330867;
    } 

    .bank-background {
      background: #330867;
    }

    #double-page-global .view {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg') !important;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      min-height: 100vh;
    }
