// Your custom variables
$image-path: "../../img" !default;
$lightbox-image-path: '../../../../img/' !default;


$primary-color: rgb(189, 89, 60);
$banking-primary-color: rgb(51, 8, 103);
$banking-text: rgb(51, 8, 103);