.banking-sectionPage {
  position: relative;
  top: -15px;
  margin-bottom: -125px;
}

.banking-sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('https://web-complett.de/mdb-react-pro/bg//bg-banking-section.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}
