#bankingcontactformpage .view {
  background-image: url('https://web-complett.de/mdb-react-pro/bg/bg-contact-us.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#bankingcontactformpage h6 {
  line-height: 1.7;
}

#bankingcontactformpage .form-check {
  margin-bottom: 0 !important;
}



