#bankloginpage .view {
  background-image: url('https://web-complett.de/mdb-react-pro/bg/bg-banking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

select ~ .btn {
   display: block !important;
}

#bankloginpage select, textarea {
  width:100%;
  background: transparent !important;
  border: 0 !important;
  color: #ffffff !important;
}
/* 
#bankloginpage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(189, 89, 60, 0.9)),
    to(rgba(255, 255, 255, 0.9))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  ); */


#bankloginpage .card {
  background-color: rgba(189, 89, 60, 0.2);
}

#bankloginpage h6 {
  line-height: 1.7;
}

#bankloginpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* #bankloginpage .top-nav-collapse {
  background: #424f95 !important;
} */

@media (max-width: 768px) {
  #bankloginpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#bankloginpage label {
  color: #fff !important;
}
