#bankregisterpage .view {
   background-image: url('https://web-complett.de/mdb-react-pro/bg/bg-banking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/*#bankregisterpage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(189, 89, 60, 0.9)),
    to(rgba(255, 255, 255, 0.9))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  ); */


#bankregisterpage .card {
  background-color: rgba(189, 89, 60, 0.2);
}

#bankregisterpage h6 {
  line-height: 1.7;
}

#bankregisterpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* #bankregisterpage .top-nav-collapse {
  background: #424f95 !important;
} */

@media (max-width: 768px) {
  #bankregisterpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#bankregisterpage label {
  color: #fff !important;
}
