#bankinglandingpage .gradient {
   /* background: -moz-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(189, 89, 60, 0.9)),
    to(rgba(255, 255, 255, 0.9))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(189, 89, 60, 0.9),
    rgba(255, 255, 255, 0.9) 100%
  ); */
}

 #bankinglandingpage .view {
   background-image: url('https://web-complett.de/mdb-react-pro/bg/bg-banking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#bankinglandingpage h6 {
  line-height: 1.7;
}
