#bankinghelppage .view {
   background-image: url('https://web-complett.de/mdb-react-pro/bg/bg-banking.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#bankinghelppage h6 {
  line-height: 1.7;
}

#bankinghelppage .form-check {
  margin-bottom: 0 !important;
}



