#dashboard-page .view {
    /* background-image: url(https://mdbootstrap.com/img/Photos/Others/architecture.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    /* background-image: none !important; */
    min-height: unset !important;
}


#dashboard-page .breadcrumb-item {
    color: #ffffff !important;
}


#dashboard-page .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #ffffff !important;
    content: "/";
}