/* .badge-primary a, .note-primary a {
  padding: 0 !important;
  display: inline !important;
} */

.note-code {
  background: #353d3e;
    color: #E1E7E6;
}


/* .card-body {
  padding: 0 !important;
} */

